<!DOCTYPE HTML>
<html>

<head>
    <title>Uploading</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/main.css') }}" />
</head>

<body>
    <div class="container">
        <h1>Failure</h1>
        <p>You either didn't select files, or they were not the right type. The supported extensions: are 'jpg', 'jfif', 'jpeg', 'png'</p>
    </div>

</body>

</html>
