<!DOCTYPE HTML>
<html>

<head>
    <title>Uploading</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/main.css') }}" />
</head>

<body>
    <div class="container">
        <h1>Upload reCAPTCHA v2 Image</h1>
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
          </form>
    </div>
</body>

</html>
